<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="033_AccionesconJPAPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>java:app/jdbc/acciones2</jta-data-source>
    <class>com.bolsa.dominio.Accion</class>
    <class>com.bolsa.dominio.Accionista</class>
    <class>com.bolsa.dominio.Compra</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
        <!-- propie de EclipseLink para ver las SQL -->
      <property name="toplink.logging.level" value="FINE"/>
       <!-- propie de Hibernate para ver las SQL -->
      <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.format_sql" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
